/* Testimonials */
.testimonial-section {
    padding: 180px 0 0;
  }
  .testimonial-section .content {
    border: 2px solid var(--color-4);
    padding: 40px 60px;
    width: 100%;
  }
  .testimonial-section .row {
    align-items: flex-end;
  }
  .testimonial-section .content h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 20px;
    color: var(--color-1);
  }
  .testimonial-section .content p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
    font-weight: 400;
    color: var(--color-1);
  }
  .testimonial-section .img-box {
    width: 340px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    left:100%;
  }
  .testimonial-section .img-box img {
    width: 100%;
    height: 130%;
    object-fit: cover;
    object-position: center;
    
  }
  .testimonial-section .reverse-row {
    align-items: flex-start;
  }
  .testimonial-section .reverse-row .img-box {
    margin-left: 83.2%;
    
  }