/* common */
*,
h1,
h2,
h3,
h4,
h5,
a,
p {
  margin: 0;
  padding: 0;
}
:root {
  --primary: #b79272;
  --black: #000000;
  --white: #ffffff;
  --color-1: #333333;
  --color-2: #cccccc;
  --color-3: #2e4413;
  --color-4: #1c1c1c;
  --color-5: #efebe7;
  --color-6: #e3d6c8;
}
html,
body {
  overflow-x: hidden !important;
}
body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}
::selection {
  background-color: var(--color-1);
  color: var(--color-2);
}
.container {
  max-width: 1280px;
  margin: auto;
}
a,
button,
img {
  transition: all 0.5s;
}
.white-bg {
  background-color: var(--white);
}
.black-bg {
  background-color: var(--black);
}
h2.title {
  font-size: 272px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.06);
  text-transform: uppercase;
  position: absolute;
  
  left: 0;
  width: 100%;
  user-select: none;
  pointer-events: none;
}
p {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-1);
}
.paragraph p:first-child:first-letter {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.common-btn {
  margin: 0;
  padding: 17px 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--primary);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.15s;
  user-select: none;
}
.common-btn::before {
  left: 6px;
  top: 6px;
  position: absolute;
  content: "";
  border: 1px solid var(--primary);
  height: 100%;
  width: 100%;
  transition: all 0.15s;
  z-index: -1;
}
.common-btn:hover::before {
  top: 0;
  left: 0;
}
.common-btn:hover,
.common-btn:focus {
  color: var(--white);
}
.common-btn:focus {
  box-shadow: none;
  outline: none;
}
.common-btn img {
  width: 24px;
}
/* dark theme */
.theme-dark h2.title {
  color: rgb(255 255 255 / 8%);
}
.theme-dark P {
  color: var(--color-2);
}
